# File used for local build
# Check if file name "env_local" is in ".gitignore
# Rename this to env_local

# if you don't want to put AWS_ACCESS_KEY_ID and AWS_ACCESS_KEY_ID here, try setting it in environment
# variable per below link.  (I haven't confirmed if that works)
# https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html

# https://docs.aws.amazon.com/codebuild/latest/userguide/use-codebuild-agent.html
# https://aws.amazon.com/blogs/devops/announcing-local-build-support-for-aws-codebuild/

REPOSITORY_URI=
IMAGE_REPO_NAME=
IMAGE_TAG=latest
AWS_DEFAULT_REGION=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
